/* source in LCD14 font, free for personal and commercial use */
@font-face {
    font-family: lcd14;
    src: url('LCD14.otf');
}

#display-container {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

#calculator-display {
    width: 10em;
    height: 1.5em;
    border: 4px solid black;
    font-family: lcd14;
    margin-right: 5px;
    background-color: green;
    border-radius: 10px;
    
}

#btn-pad {
    display: grid;
    grid-template-columns: repeat(4, 2em);
    grid-template-rows: repeat(4, 2em);
}

#calc-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gray;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    width: 200px;
}